<%- include('layouts/header') %>

<div class="container about-con border-4 border-l-blue-600 mt-[5%] mx-auto">
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">

            <div class="xl:flex xl:items-center xl:justify-center about-sec xL:-mx-4">
                <div class="xl:w-1/2 xl:mx-4">
                    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">About</h1>
    
                    <p class="max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
                        My name is Abubakar Muhammad Ala.  I am a software developer mostly love and focus on 
                        Front-end Engineering, but I still have a little knowledge on Back-end.  I used Javascript as my programming language,
                        reactjs for Front-end and express-node for Back-end.
                    </p>
                </div>

                <div class="xl:w-[25%] img-sec">
                    <img class="object-cover rounded-xl aspect-square" src="http://localhost:3000/assets/images/my.jpg" alt="">

                    <h1 class="mt-4 text-center text-2xl font-semibold text-gray-700 capitalize dark:text-white">Abubakar Muhammad Ala</h1>

                    <p class="mt-2 text-center text-gray-500 capitalize dark:text-gray-300">Front-end developer</p>
                </div>


            </div>
        </div>
    </section>
</div>

<%- include('layouts/footer') %>